<div class="row">
  <div class="col-lg-6 offset-lg-3">
    <form (ngSubmit)="addCategory()">
      <div class="form-group">
        <label>Name</label>
        <input [(ngModel)]="category.name" class="form-control" name="name" type="text">
        <error [errorsList]="error?.name"></error>
      </div>
      <div class="form-group">
        <label>Description</label>
        <input [(ngModel)]="category.description" class="form-control" name="password" type="balance">
        <error [errorsList]="error?.description"></error>
      </div>
      <div class="form-group">
        <label>Select transaction type</label>
        <select [(ngModel)]="transactionTypeString" class="form-control" name="transactionType">
          <option *ngFor="let transactionType of transactionTypes" [value]="transactionType">
            {{transactionType}}
          </option>
        </select>
      </div>
      <button class="btn btn-block btn-outline-success" type="submit">Submit</button>
    </form>
  </div>
</div>
