<div class="row">
  <div class="col-md-6 offset-md-3">
    <div class="container">
      <div class="row">
        <div class="col-9">
          <h1>Wallet: {{wallet?.name}}</h1>
          <h1>Balance: {{wallet?.balance}}</h1>
        </div>
        <div class="col-3 add-button" role="button">
          <a (click)="addTransaction(id)" class="add-button text-center" role="button">
            Add transaction
            <img src="/assets/icon/plus-icon.png"/>
          </a>
        </div>
      </div>
    </div>
    <transactions-viewer (updateWallet)="initWallet()" [transactions]="wallet?.transactions"
                         [walletId]="id"></transactions-viewer>
  </div>
</div>
