<div class="row">
  <div class="col-lg-6 offset-lg-3">
    <div *ngIf="wallets.length > 0;else noWallets">
      <h3 class="text-center text-vertical-center">Wallet list</h3>
      <table class="table table-hover text-center">
        <tr>
          <th></th>
          <th>Favorite</th>
          <th>Name</th>
          <th>Balance</th>
        </tr>
        <tr *ngFor="let wallet of wallets; let i = index" class="text-center">
          <td>{{i + 1}}</td>
          <td>
            <a (click)="changeFavoriteWallet(wallet.id)" role="button">
              <img *ngIf="wallet.id === favoriteWalletId" class="p-lg-2" src="/assets/icon/star-icon.png"/>
              <img *ngIf="wallet.id !== favoriteWalletId" class="p-lg-2" src="/assets/icon/empty-star-icon.png"/>
            </a>
          </td>
          <td (click)="showWalletsDetails(wallet.id)" class="py-lg-4 pointer">{{wallet.name}}</td>
          <td (click)="showWalletsDetails(wallet.id)" class="py-lg-4 pointer">{{wallet.balance}}</td>
        </tr>
      </table>
    </div>
    <ng-template #noWallets>
      <h3 class="text-center">You do not have any wallet</h3>
      <button class="my-5 btn btn-block btn-outline-success" (click)="goAddWallet()">Go to add wallet</button>
    </ng-template>
  </div>
</div>
