<nav class="navbar navbar-expand-md navbar-dark bg-success">

  <button class="navbar-toggler right" data-target="#navbarSupportedContent" data-toggle="collapse" type="button">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!--  When user is not authenticated-->
  <div *ngIf="!isAuth()" class="collapse navbar-collapse" id="navbarSupportedContent">

    <ul class="navbar-nav mr-auto" routerLinkActive="active">
      <li class="nav-item">
        <a class="nav-link" routerLink="">Home</a>
      </li>
    </ul>

    <form class="form-inline">
      <h5 class="p-0 m-0 text-white">Hi Guest!</h5>
      <ul class="navbar-nav mr-auto" routerLinkActive="active">
        <li class="nav-item">
          <a class="nav-link" routerLink="login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="register">Register</a>
        </li>
      </ul>
    </form>

  </div>

  <!--When user is authenticated-->
  <div *ngIf="isAuth()" class="collapse navbar-collapse" id="navbarSupportedContent">

    <ul class="navbar-nav mr-auto" routerLinkActive="active">

      <li class="nav-item">
        <a class="nav-link" routerLink="">Home</a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button">
          Wallet
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" routerLink="/wallet">Wallets list</a>
          <a class="dropdown-item" routerLink="/wallet/add">Add wallet</a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button">
          Category
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" routerLink="/category">Categories list</a>
          <a class="dropdown-item" routerLink="/category/add">Add category</a>
        </div>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="">Friends</a>
      </li>

    </ul>

    <form class="form-inline">
      <ul class="navbar-nav mr-auto" routerLinkActive="active">
        <li class="nav-item">
          <a class="nav-link" href="#" role="button" routerLink="/user">
            <h5 class="p-0 m-0 text-white">{{"Hi " + getEmail()}}</h5>
          </a>
        </li>
        <li class="nav-item">
          <a (click)="logout()" class="nav-link" href="#" role="button">Logout</a>
        </li>
      </ul>

    </form>

  </div>
</nav>

