/* You can add global styles to this file, and also import other style files */
#content {
  min-height: 90vh !important;
  padding: 2%;
}

nav, footer {
  min-height: 10vh !important;
  padding: 0;
}

.pointer {
  cursor: pointer;
}
