<table class="table table-hover table-striped text-center">
  <tr>
    <th>Name</th>
    <th>Price</th>
    <th>Category</th>
    <th>Adding time</th>
    <th>Edit</th>
    <th>Remove</th>
    <th>Finished</th>
  </tr>
  <tr *ngFor="let transaction of transactions; let i = index">
    <td>{{transaction.name}}</td>
    <td>{{transaction.price}}zł</td>
    <td>{{transaction.category.name}}</td>
    <td>{{transaction.dateOfPurchase|date}}</td>
    <td>
      <a (click)="editTransaction(transaction.id)" class="pointer" role="button">
        <img src="/assets/icon/edit-icon.png"/>
      </a>
    </td>
    <td>
      <a (click)="removeTransaction(transaction.id)" class="pointer" role="button">
        <img src="/assets/icon/remove-icon.png"/>
      </a>
    </td>
    <td>
      <a (click)="switchFinished(transaction.id)" class="pointer" role="button"
         *ngIf="isLoanOrBorrow(transaction)">
        <img *ngIf="!transaction.isFinished" src="/assets/icon/un-finished-icon.png"/>
        <img *ngIf="transaction.isFinished" src="/assets/icon/finished-icon.png"/>
      </a>
    </td>
  </tr>
</table>
