<table class="table table-hover table-striped text-center">
  <tr>
    <th>Name</th>
    <th>Price</th>
    <th>Category</th>
    <th>Edit</th>
    <th>Remove</th>
  </tr>
  <tr *ngFor="let transaction of transactions; let i = index">
    <td>{{transaction.name}}</td>
    <td>{{transaction.price}}</td>
    <td>{{transaction.category.name}}</td>
    <td>
      <a (click)="editTransaction(transaction.id)" class="pointer" role="button">
        <img src="/assets/icon/edit-icon.png"/>
      </a>
    </td>
    <td>
      <a (click)="removeTransaction(transaction.id)" class="pointer" role="button">
        <img src="/assets/icon/remove-icon.png"/>
      </a>
    </td>
  </tr>
</table>
