<div>
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <h2>Welcome</h2>
      <p>This site include</p>
      <ul>
        <li>Adding your shopping, borrow and loan</li>
        <li>After adding borrow or loan transaction you can reference to their and assign repayment</li>
        <li>You can mark borrow and loan transaction as finished, after this you can not reference to their when you want to add new loan back or borrow back transaction</li>
        <li>Assign wallet as favorite, and moreover you after, log in you will be transferred to it</li>
        <li>Restore default categories</li>
      </ul>
      <p class="border-right">Enjoy!!</p>
    </div>
  </div>
</div>
